.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1200;
}

.modal {
  position: relative;
  max-width: calc(100vw - 48px);
  max-height: calc(100vh - 48px);
}

.closeButton {
  z-index: 2;
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 6px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: 1px solid lightgray;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  cursor: pointer;
  border-radius: 50%;
}
